@using Authentication.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@*<h2>@ViewBag.Title.</h2>*@

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>


<!------ Include the above in your HEAD tag ---------->
<div class="container">
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{       
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px">
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" role="form">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @*<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">*@
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "login-username", @placeholder = "User Name" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @*<input id="login-password" type="password" class="form-control" name="password" placeholder="password">*@
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "login-password", @placeholder = "password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>


                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                @*<input id="login-remember" type="checkbox" name="remember" value="1"> Remember me*@
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            @*<a id="btn-login" href="#" class="btn btn-success">Login  </a>*@
                            <input type="submit" value="Log in" class="btn btn-success" />
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                Don't have an account!
                                @Html.ActionLink("Sign Up Here", "Register")
                                @*<a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                    Sign Up Here
                                </a>*@
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        
    </div>
}
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}